body {
  font-family: "Montserrat";
}

/* Navbar Start */
.navbar {
  background-color: #171717;
  border-bottom: 1px solid #333;
}

.nav-item {
  margin-right: 24px;
  font-weight: 200;
}

.nav-item.active a {
  color: #f9b234 !important;
  font-weight: 600;
}

.nav-item a {
  font-weight: 400;
}

.nav-link span {
  color: #f9b234;
  font-weight: 600;
}

/* Navbar End */

/* Carousel Start */
.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}

.carousel h1 {
  font-family: "Lora";
}

.carousel p {
  font-weight: 200;
}

/* Carousel End */

/* Features Start */
.features h3,
.designer h3,
.similar-product h3,
.cart-header h3,
.checkout-success h3 {
  font-family: "Lora";
  font-weight: 700;
  color: #1b2690;
  font-size: 28;
}

.features p,
.designer p,
footer p,
.similar-product p,
.cart-header p {
  font-weight: 200;
  color: #b7b7b7;
}

.figure h5 {
  font-family: "Montserrat";
  font-weight: 400;
  color: #171717;
}

.figure-img {
  position: relative;
}

.figure-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.figure-img:hover a {
  opacity: 1;
}

/* Features End */

/* Breadcumbs Start */
.breadcrumb {
  margin-top: 100px;
}

.cart-breadcrumb {
  margin-top: 50px;
}
/* Breadcumbs End */

/* Single Product Start */
.product-thumbnail-container {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 8px;
  width: 360px;
  margin: auto;
  transform: translateY(-60px);
}

.product-thumbnail-container a:hover {
  text-decoration: none;
}

.btn-product {
  margin: 50px 0;
  padding-bottom: 35px;
  border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
  display: block;
  margin: 7px 0;
}

.design-by h5 {
  font-size: 14px;
  font-weight: 200;
  color: #b7b7b7;
  margin-bottom: 20px;
}

.design-by h4 {
  font-size: 18px;
  color: #171717;
}

.design-by p {
  font-size: 14px;
  font-weight: 200;
  color: #171717;
}

.design-by p span {
  color: #b7b7b7;
}
/* Single Product End */

/* Product Description Start */
.product-description {
  background-color: #f6f7fb;
  height: 350px;
}

.product-description .tab-content {
  background-color: white;
  border: 1px solid #dee2e6;
  border-top: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
  font-size: 16px;
  font-weight: 200;
  color: #868686;
  line-height: 28px;
}

.product-review {
  height: 330px;
  overflow: auto;
  overflow-x: hidden;
}

.product-review h5 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
}

.product-review p {
  font-size: 14px !important;
}
/* Product Description End */

/* Similar Product Start */
.similar-product {
  margin-top: 130px;
  margin-bottom: 100px;
}
/* Similar Product End */

/* Checkout Detail Start */
.checkout-detail {
  background-color: #f6f7fb;
  border: 1px solid #eaeaea;
  color: #171717;
}
/* Checkout Detail End */
